<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

</head>

<body ng-controller="PrenomController">

  <div>
    <button ng-click="sort()">Sort</button>
    Filter : <input ng-model="prenomFilter">
  </div>

  <div>
    Prénom :
    <input ng-model="prenom">
    <button ng-click="add()">+</button>
  </div>

  <p ng-repeat="prenom in prenoms | filter:prenomFilter">
    Bonjour
    <span ng-bind="prenom | uppercase"></span>
    <button ng-click="remove($index)">-</button>
  </p>

  <script src="../node_modules/angular/angular.js"></script>
  <script src="controller.js"></script>
</body>
</html>
